<div class="desk-container">
 <a href="{{ section.settings.link_url_3 }}" target="_blank">  <h2 class="gift-heading" style="text-align: left; font-size: 4vw !important;">{{ section.settings.gift_heading }}</h2> </a>
    <div class="gift-container">
      <div class="gift-img">
        <a href="{{ section.settings.link_url_3 }}" target="_blank"> <img alt="{{ section.settings.alt_tag-main }}" src="{{ section.settings.main_image_url | img_url: 'master' }}" width="500px" height="569px"></a>
        </div>
        <div class="text-prod">
         <div class="text-prod-p"><p style="margin-bottom: 0em;"> {{ section.settings.gift_description }} </p></div>
            <div class="gift-product">
                <a href="{{ section.settings.link_url_3 }}" target="_blank"> <p style="margin-bottom:1rem; margin-top:0.5rem;"><u>Shop Bestsellers from {{ section.settings.Websiteheading }}</u></p> </a>
                <div class="gift-img-flex">
                    <div>
                        <a href="{{ section.settings.link_url }}" target="_blank">
                        <img alt="{{ section.settings.alt_tag-1 }}" src="{{ section.settings.image_1_url | img_url: 'master' }}" width="181px">
                        <p class="img-link-text"><u>{{ section.settings.link_text }}</u></p>
                        </a>
                    </div>
                   <div>
                        <a href="{{ section.settings.link_url_1 }}" target="_blank">
                        <img alt="{{ section.settings.alt_tag-2 }}" src="{{ section.settings.image_2_url | img_url: 'master' }}" width="181px"">
                        <p class="img-link-text"><u>{{ section.settings.link_text_1 }}</u></p>
                        </a>
                    </div>
                   {% if section.settings.image_3_url != blank %}
                    <div>
                        <a href="{{ section.settings.link_url_2 }}" target="_blank">
                        <img alt="{{ section.settings.alt_tag-3 }}" src="{{ section.settings.image_3_url | img_url: 'master' }}" width="181px">
                        <p class="img-link-text"><u>{{ section.settings.link_text_2 }}</u></p>
                        </a>
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-container">
  <a href="{{ section.settings.link_url_3 }}" target="_blank">  <h1 class="gift-heading" style="text-align: left; margin-bottom: 0.90rem; font-size: 4vw !important;">{{ section.settings.gift_heading }}</h1> </a>
    <div class="gift-container">
        <div class="gift-img">
         <a href="{{ section.settings.link_url_3 }}" target="_blank"> <img alt="{{ section.settings.alt_tag-main }}" src="{{ section.settings.main_image_url | img_url: 'master' }}" width="500px" height="569px"> </a>
        </div>
        <div class="text-flex">
            <div class="text-prod">
                <div class="text-prod-p"><p style="margin-bottom: 0em;"> {{ section.settings.gift_description }} </p></div>
                <div class="gift-product">
                    <a href="{{ section.settings.link_url_3 }}" target="_blank"> <p style="margin-bottom:0.5rem; margin-top:0.9rem;"><u>Shop Bestsellers from {{ section.settings.Websiteheading }}</u></p> </a>
                    <div class="gift-img-flex">
                        <div>
                            <a href="{{ section.settings.link_url }}" target="_blank">
                            <img alt="{{ section.settings.alt_tag-1 }}" src="{{ section.settings.image_1_url | img_url: 'master' }}" width="150px">
                            <p class="img-link-text"><u>{{ section.settings.link_text }}</u></p>
                            </a>
                        </div>
                         <div>
                            <a href="{{ section.settings.link_url_1 }}" target="_blank">
                            <img alt="{{ section.settings.alt_tag-2 }}" src="{{ section.settings.image_2_url | img_url: 'master' }}" width="150px">
                            <p class="img-link-text"><u>{{ section.settings.link_text_1 }}</u></p>
                           </a>
                        </div>
                  {% if section.settings.image_3_url != blank %}
                    <div class="this_will_hideinMobile">
                        <a href="{{ section.settings.link_url_2 }}" target="_blank">
                        <img alt="{{ section.settings.alt_tag-3 }}" src="{{ section.settings.image_3_url | img_url: 'master' }}" width="150px">
                        <p class="img-link-text"><u>{{ section.settings.link_text_2 }}</u></p>
                        </a>
                    </div>
                  {% endif %}  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Page Section Right",
  "settings": [
     {
      "type": "text",
      "id": "Websiteheading",
      "label": "Enter Website Name"
    },
     {
      "type": "url",
      "id": "link_url_3",
      "label": "Enter Website URL"
    },
    {
      "type": "text",
      "id": "gift_heading",
      "label": "Add Heading"
    },
    {
      "type": "richtext",
      "id": "gift_description",
      "label": "Add Description"
    },
    {
      "type": "image_picker",
      "id": "main_image_url",
      "label": "Add Main Image"
    },
      {
      "type": "text",
      "id": "alt_tag-main",
      "label": "Alt Tag MainImg"
    },
    {
      "type": "image_picker",
      "id": "image_1_url",
      "label": "Add First Image"
    },
    {
      "type": "image_picker",
      "id": "image_2_url",
      "label": "Add Second Image"
    },
    {
      "type": "image_picker",
      "id": "image_3_url",
      "label": "Add Third Image"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Enter URL Product-1"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Enter Text Product-1"
    },
    {
      "type": "text",
      "id": "alt_tag-1",
      "label": "Alt Tag ProductImg-1"
    },
    {
      "type": "url",
      "id": "link_url_1",
      "label": "Enter URL Product-2"
    },
    {
      "type": "text",
      "id": "link_text_1",
      "label": "Enter Text Product-2"
    },
     {
      "type": "text",
      "id": "alt_tag-2",
      "label": "Alt Tag ProductImg-2"
    },
    {
      "type": "url",
      "id": "link_url_2",
      "label": "Enter URL Product-3"
    },
     {
      "type": "text",
      "id": "link_text_2",
      "label": "Enter Text Product-3"
    },
    {
      "type": "text",
      "id": "alt_tag-3",
      "label": "Alt Tag ProductImg-3"
    }
  ],
  "presets": [
    {
      "name": "Page Section Right"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}